/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;550&display=swap");
@import "@angular/material/prebuilt-themes/indigo-pink.css";
header {
    align-items: center;
}

.end-header {
    display: flex;
    gap: 15px;
}

.begin-header {
    display: flex;
    gap: 15px;
}

img {
    background: #f5f5f5;
    border-radius: 12px;
    object-fit: contain;
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}